body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cont {
    transition: margin-left 0.3s ease;
}

.sidebar {
    width: 200px;
    overflow-x: hidden;
    transition: width 0.3s ease;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}



.main-content {
    flex-grow: 1;
    padding: 20px;
    padding-left: 10%;
}

.close-btn {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.sidebar-open .sidebar {
    width: 0px;
}

.sidebar-open .close-btn {
    display: block;
}

.sidebar-open .main-content {
    margin-left: 0px;
}

.ma {
    display: flex;
}

.nav_links,
.serchbar,
.search_icon,
#user_cart,
#item_qty {
    display: none;
}

.nav_img {
    margin-right: 20px;

}

.nav_logo {
    margin-right: 230px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}

.imageP {
    width: 200px;
}

.infoProd {
    border: 1px solid black;
    box-shadow: 3px 7px 5px black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: rgb(81, 138, 139);
    width: fit-content;
}

.infoProd div {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.select option {
    padding: 10px;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

.select option:hover {
    background-color: #f0f0f0;
}

.select option[selected] {
    font-weight: bold;
}

.subt-btn {
    padding: 10px 20px;
    background-color: #007bff;

    color: #fff;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subt-btn:hover {
    background-color: #0056b3;

}

.subt-btn:focus {
    outline: none;

    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);

}