body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.cont {
    transition: margin-left 0.3s ease;

}
.main-content{
    margin-top: 70px;
}
.sidebar {
    
    width: 200px;
    overflow-x: hidden;
    background-color: #517A8B;
    transition: width 0.3s ease;
    height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}



.main-content {
    flex-grow: 1;
    padding: 20px;
}

.close-btn {
    margin-bottom: 10px;
    padding: 5px;
    border: none;
    background-color: #517A8B;
    cursor: pointer;
    width: 200px;
    text-align: center;
}

.sidebar-open .sidebar {
    width: 0px;

}

.sidebar-open .close-btn {
    width: 32px;

}

.sidebar-open .tgButton {
    width: 32px;

}

.sidebar-open .close-btn {
    display: block;
}

.sidebar-open .main-content {
    margin-left: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}

.delete-btn {
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn {
    background-color: #ff6666;
    color: white;
    border: none;
}
.btns{
    display: flex;
}
.message-btn{
    background-color: #5a75ff;
    color: white;
    padding: 5px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #ff4d4d;
}


.search-container {
    margin-bottom: 20px;
}

.search-input {
    padding: 8px;
    width: 500px;
    border: 1px solid #ddd;
    height: 45px;
}

.search-btn {
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    height: 43px;
    width: 70px;
}

.ma {
    display: flex;
}

.nav_links,
.serchbar,
.search_icon,
#user_cart,
#item_qty {
    display: none;
}

.nav_img {
    margin-right: 20px;

}

.nav_logo {
    margin-right: 230px;
}

.L-arrow {
    width: 30px;
    background-color: #517A8B;
    padding: 5px;
    cursor: pointer;
    border-radius: 6px;
    float: right;
}

.L-arrow:hover {
    width: 30px;
    color: rgb(81, 138, 139);
    background-color: lightblue;
    cursor: pointer;
    border-radius: 6px;


}

.tgButton {
    width: 200px;
    height: 40px;
    background-color: #517A8B;
    margin-top: 70px;
}

.mess_section {
    position: relative;
}

.notifs {
    position: absolute;
    top: -12px;
    right: -12px;
    padding: 3px 3px 3px 3px;
    background-color: rgb(203, 203, 203);
    color: rgb(251, 50, 50);
    border-radius: 50%;
}